{% extends 'base.html' %}
{% block title %}About Me{% endblock title %}

{% block body %}

<style>

    .p1
    {
    margin-top: 50px;
  text-align: justify;
  font-weight: normal;
  font-family: Georgia;
  font-size: medium;
  color: DarkSlateGray;
  line-height: 1.9;
  margin-left :190px ;
  margin-right : 190px;
    }



</style>
<p class="p1">
    Currently the co-owner of a Consultancy providing a range of Financial services.
    As far as my education goes, I have a Bachelors and Masters in Computer Science Engineering and an MBA in
    Information Systems.
Fun Fact! I also am a trained Indian Classical Dancer and hold a Diploma in Indian Classical Dance.
(Bharatnatyam)</p>
<p class="p1" >The entrepreneurial venture has build more than 800+ clients.
These include individuals as well as institutions such as schools, hospitals,
state government organization.
Having interviewed more than 200+ clients and given my background, I developed a better understanding on how to
    navigate through the pain points of our clients and build a considerable amount of
customer empathy and patience.
    In the firm I have delved into customer/ client interaction,
    understanding their requirements by interviewing them and guide them through by translating their pain points.
    Interacting with partner organizations, other stakeholders, clients and partner, working on
    jobs that have strict time constraints are main part of my responsibilities.

</p>




{% endblock %}
