{% extends 'base.html' %}

{% block title %}Qualifications{% endblock title %}

{% block body %}

<style>

    p
    {
     text-align: justify;
    font-weight: normal;
    font-family: Georgia;
    font-size: medium;
    color: DarkSlateGray;
    line-height: 1.4;
    margin-left :100px ;
    margin-right : 100px;
    }

    .b1
    {
    color: DarkOliveGreen;
    text-decoration: underline;
    }
    h2
    {
    text-align: center;
     font-weight: normal;
    font-family: Georgia;
    color: DarkSlateGray;
    line-height: 1.6;
    margin-top: 50px;
    }

    .ol1
    {
    text-align: justify;
    font-weight: normal;
    font-family: Georgia;
    font-size: medium;
    color: DarkSlateGray;
    line-height: 1.4;
    margin-left :100px ;
    margin-right : 100px;
    }
    h3

    {
    text-align: justify;
    font-weight: bold;
    text-decoration: underline;
    font-family: Georgia;
    font-size: medium;
    color: DarkSlateGray;
    line-height: 1.4;
    margin-left :100px ;
    margin-right : 100px;
    }

    .ol2
    {
    text-align: justify;
    font-weight: normal;
    font-family: Georgia;
    font-size: medium;
    color: DarkSlateGray;
    line-height: 1.4;
    margin-left :100px ;
    margin-right : 100px;
    }

    .btn
    {
    background-color: DarkSlateGray  ;
    margin-left: 150px;
    text-align: justification;
    color : HoneyDew;
    font-weight: bold;
    font-family: Georgia;


    }
    .glow:hover {
  color: rgb(0, 0, 0, 1);
  box-shadow: 0 5px 15px rgb(0, 0, 0, .4)
;
}
a
{
      text-decoration: none;

}


</style>
<h2> Skills</h2><br>

<p><b class="b1">Product Management: </b> User Requirement, Product Roadmap, Kanban, Excellent written & oral communication,
    Excellent interpersonal skills, Leadership, Stakeholder Management, Meticulous. Familiarity: JIRA, Axure, Figma.</p>
<p><b class="b1">Technical Languages: </b > Django, MySQL, Python, Familiarity: HTML, CSS</p>
<p><b class="b1">Language:</b> English (IELTS Score: 7; 2013), Hindi, Malayalam</p>

<br>

    <h2> Projects</h2><br>
    <p><b class="b1">Automation in Cloud Computing Using Constraint Based Agent</b></p> <br>
    <ol class="ol1">Focus on automation of services request and provisioning of services of cloud based nature</ol>
    <ol class="ol1">Explains an in depth characteristics of agents</ol>
    <ol class="ol1">The System design of the algorithmic work flow was done in the tool dia.</ol>
    <ol class="ol1">The implementation of the project was done in the Colored Petri Net simulation tool.</ol>
    <ol class="ol1">The Research Paper has been published in IEEEXplore, by clicking the button below you can view the whole paper on ResearchGate portal.</ol>
    <button type="button" class="btn" >
        <a href="https://www.researchgate.net/publication/280216557_Automation_In_Cloud_Computing_Using_Constraint_Based_Agent"
        style="color: #F0FFF0;"><span class="glow">
            Link to Research Gate</span></a></button>


    <p><b class="b1">Virtual Classroom</b></p> <br>
    <ol class="ol1">Implemented on tools like . net and Ms Access</ol>
    <ol class="ol1">Platform for conducting online classes and sharing resources</ol>

<!--GIT BUTTON-->

    <button type="button" class="btn" ><a href="https://github.com/Priny" style="color: #F0FFF0;">
        <span class="glow">Link to Git</span> </a></button>

<!--    <button class="gitbtn" style="text-color: yellow;margin-left: 350px;-->
<!--text-align: justification;"><a href="https://www.w3docs.com/">Link to Git</a></button>-->

<br>

    <h2> Workshops/ Seminar/ Certifications</h2><br>
    <ol class="ol1"><b class="b1">INTERNATIONAL WORKSHOP</b> on Intelligent Approaches For Object Oriented Modeling In Component Based
Software Engineering : Participated Twice</ol>
    <ol class="ol1"><b class="b1">NATIONAL WORKSHOP</b> on Advancement in Network Communication and Security</ol>
    <ol class="ol1">Seminar on Basics of Cloud Computing</ol>
    <ol class="ol1">Certification Course on Product Management</ol>
    <ol class="ol1">Certification Course on SQL - MySQL</ol>
    <ol class="ol1">Certification Course on Django and Python</ol>
    <br>

        <h2>Education</h2><br>
    <h3>Annamalai University</h3>

    <ol class="ol2">M.B.A. - Information Systems</ol>


    <h3>Jaypee University of Engineering and Technology</h3>
    <ol class="ol2">Masters in Technology - Computer Science and Engineering</ol>

    <h3>Madhav Institute of Technology and Science</h3>
    <ol class="ol2">Bachelors in Engineering - Computer Science and Engineering</ol>

{% endblock %}
