{% extends 'base.html' %}


{% block body %}

<style>
    p
    {
    text-align: justify;
    font-weight: normal;
    font-family: Georgia;
    font-size: medium;
    color: DarkSlateGray;
    line-height: 1.4;
    margin-left :100px ;
    margin-right : 100px;
    }


</style>



<p>The following stats are from the survey taken on 50 of our clients.
The clients were surveyed on what and how they thought the firm and the
working were.</p>

<center><img src="img.png"></center>

<p>The ratings are also to gauge how they found the firm's services, whether
they would be requireing the same in the future and will they be recommending
to others.</p>



{% endblock %}
